@model IEnumerable<SmartCom.Domain.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "Get";
}

<h2>Get</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategory)
        </td>
        <td>
            @Html.ActionLink("Edit", "GetByCode", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>*@


<div>
  @*<add-product>
    <button v-if="!isScrolled" key="top" class="container btn btn-info mb-2">AddNew</button>
    <button v-else key="bottom" class="container btn btn-info fixed-bottom">AddNew</button>
  </add-product>*@
  <div class="row row-col-1 row-cols-md-4">
    <list-product :product="product" class="mb-4"></list-product>
  </div>
</div>

@Scripts.Render("~/vuesrc/Scripts/ProductList.js")
